body {
    margin: 0;
    overflow: hidden;
    background-color: #d81b60;
}
.heart {
    position: absolute;
    animation: float 7s infinite ease-in-out, blink 1s infinite alternate;
}
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}
@keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0.5; }
}